@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  width: 100%;
}

/*cCONTENEDOR*/
body {
  background-color: #f7f7f7;
  background-image: url(https://i.postimg.cc/bvRCdG6z/seigaiha-fondo.png);
  background-size: 65px 43px;
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 0);
  padding-left: var(--bs-gutter-x, 0);
  margin-right: auto;
  margin-left: auto;
}

.container-fluid .row {
  --bs-gutter-x: 0;
}

h1 {
  font-size: 1.8rem;
  color: #f83b3b;
  font-weight: bold;
  padding-bottom: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: #27333d;
  padding: 1rem;
}

h3 {
  font-size: 1.2rem;
}

/*HEADER*/
/*ANUNCIO*/
.anuncio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  height: 2.6rem;
  margin-top: 2.9rem;
}

.anuncio__descuento {
  color: #f3c95e;
  font-size: 1rem;
  text-align: center;
  font-size: .8rem;
  margin: 0;
  /*ANIMACION MAQUINA DE ESCRIBIR*/
  /* https://codepen.io/mistrykaran91/pen/xxOePQd */
  -webkit-animation-name: typewriter;
          animation-name: typewriter;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes typewriter {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 24em;
  }
}

@keyframes typewriter {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 24em;
  }
}

/*BARRA LOGO*/
.barra-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f83b3b;
  padding: 1.5rem 0 1.5rem 0;
  color: #ffffff;
}

@media only screen and (max-width: 576px) {
  .barra-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5em 0 .5em 0;
  }
}

.barra-logo .logo-contra {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 10rem;
  margin: 0 3em 0 3em;
  padding: .5em 0 .5em 0;
}

@media only screen and (max-width: 768px) {
  .barra-logo .logo-contra {
    margin: 0 0 0 1.5em;
  }
}

@media only screen and (max-width: 576px) {
  .barra-logo .logo-contra {
    margin: .5em 0 0 2em;
    width: 7rem;
  }
}

.barra-logo .cuenta {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 3em;
  width: 11em;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.5em 0 0;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0 .5em 0 .5em;
}

@media only screen and (max-width: 768px) {
  .barra-logo .cuenta {
    width: 10em;
    padding: 0 .5em 0 .5em;
    margin: 1em 1em 0 0;
  }
}

.barra-logo .cuenta__usuario {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  width: 500px;
}

.barra-logo .cuenta__usuario:hover {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .barra-logo .cuenta__usuario {
    display: none;
  }
}

.barra-logo .cuenta__usuario:hover {
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50px;
}

.barra-logo .cuenta .material-icons-round {
  color: #f7f7f7;
  font-size: 1.75em;
  -webkit-transition: .3s;
  transition: .3s;
}

.barra-logo .cuenta .material-icons-round:hover {
  color: #f3c95e;
  -webkit-transition: .3s;
  transition: .3s;
}

.barra-logo .cuenta .cart,
.barra-logo .cuenta .fav {
  font-size: 1.6em;
}

/*BARRA BUSQUEDA*/
.barra-busqueda {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7f7f7;
  width: 40%;
  border-radius: 40px;
  height: 45px;
  padding: 0 .3em 0 1.2em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .barra-busqueda {
    max-width: 36em;
  }
}

@media only screen and (max-width: 768px) {
  .barra-busqueda {
    margin-top: .5em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 576px) {
  .barra-busqueda {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 75%;
    border-radius: 20px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
  }
  .barra-busqueda img, .barra-busqueda svg {
    height: 1.2rem;
  }
  .barra-busqueda .search-btn {
    background-color: #f83b3b;
    height: 1.7em;
    width: 1.7em;
    padding: 0;
  }
  .barra-busqueda .search-txt {
    font-size: .9rem;
  }
}

.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.2em;
  height: 2.2em;
  background: #f83b3b;
  border-radius: 50%;
  padding: .3em;
  -webkit-transition: .3s;
  transition: .3s;
}

.search-btn:hover {
  background-color: #f3c95e;
  -webkit-transition: .3s;
  transition: .3s;
}

.search-txt {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #27333d;
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  width: 90%;
}

/*BARRA DE BUSQUEDA*/
/* campo de busqueda */
form.example input[type=text] {
  padding: 10px;
  font-size: 1rem;
  float: left;
  width: 80%;
  background: #f7f7f7;
}

/* boton de busqueda */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 1rem;
  border: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #205683;
}

/* NAV BAR CON MEDIA QUERIES*/
.navbar {
  background-color: #f3c95e;
  font-weight: 500;
  position: absolute;
  z-index: 100;
  padding-bottom: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link {
  color: #202020;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f83b3b;
}

.nav-item {
  width: 6.5em;
}

.nav-item .nav-link {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.nav-item .nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-item .nav-link:hover:after {
  width: 80%;
  background: #202020;
}

/* Media queries*/
@media only screen and (max-width: 992px) {
  .navbar {
    padding: .2rem 0 .2rem 0;
  }
  .navbar .navbar-nav {
    padding: 0 0 0 1.5em;
    overflow: hidden;
  }
  .navbar .navbar-nav .nav-item {
    width: 4.5em;
    padding-bottom: .2em;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    text-align: left;
    padding: 0 0 .25em 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .navbar .navbar-nav .nav-item .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 3px;
    -webkit-transition: left .3s;
    transition: left .3s;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover:after {
    left: 0;
    width: 100%;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

/*MAIN*/
main {
  background-color: #f7f7f7;
}

iframe {
  overflow: hidden;
}

/*VIDEO Y MAPAS*/
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin-top: 2rem;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mapa {
  margin-bottom: 3rem;
}

/*IMÁGEN CABECERA*/
.cabecera__img-lg {
  display: none;
}

.cabecera__img-sm {
  display: block;
}

.cabecera .texto-cabecera {
  /*CON STICKY EL ELEMENTO QUEDA PEGADO A DONDE ESTA POSICIONADO*/
  position: -webkit-sticky;
  position: sticky;
}

.cabecera .texto-cabecera .campeones {
  position: absolute;
  top: 6%;
  width: 54%;
  left: 3%;
}

@media only screen and (min-width: 576px) {
  .cabecera .texto-cabecera .campeones {
    top: 2%;
    width: 45%;
    left: 48%;
  }
}

.cabecera .texto-cabecera .temporada {
  position: absolute;
  line-height: 120%;
  /*con VH (viewport width) el el texto es "responsive", toma el tamano del ancho del viewport*/
  font-size: 3.3vw;
  /* 2% del tamaño del viewport*/
  font-weight: 600;
  color: #f3c95e;
  top: 70%;
  left: 9%;
  width: auto;
  height: auto;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .cabecera .texto-cabecera .temporada {
    font-size: 2.5vw;
    top: 75%;
    left: 52%;
    width: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  .cabecera .texto-cabecera .temporada {
    font-size: 2vw;
  }
}

.categoria__imagen {
  height: 230px;
  overflow: hidden;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 10;
}

/*MARCAS*/
.titulo {
  overflow: hidden;
  text-align: center;
}

.titulo--brands {
  color: #daa41e;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: auto;
  margin-bottom: 2rem;
}

.logos__marcas {
  width: 9vw;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .logos__marcas {
    width: 11vw;
  }
}

@media only screen and (max-width: 576px) {
  .logos__marcas {
    width: 22vw;
    margin-bottom: 1em;
  }
}

/*MEDIA QUERY BREAKPOINTS*/
@media only screen and (min-width: 576px) {
  /* Los estilos de acá solo se aplicarán a partir
    del tamaño de pantalla indicado */
  .anuncio {
    font-size: 1rem;
  }
  .cuenta__img--nodisplay {
    display: block;
  }
  .cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cabecera__img-lg {
    display: block;
  }
  .cabecera__img-sm {
    display: none;
  }
  .categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000000;
  }
  .categoria__imagen {
    height: 100%;
  }
  .categoria__imagen img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .categoria__imagen img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    -webkit-filter: contrast(110%);
            filter: contrast(110%);
  }
}

@media only screen and (min-width: 992px) {
  .anuncio {
    margin-top: 2.5rem;
  }
  .anuncio__descuento {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .titulo {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 2rem 0 2rem 0;
  }
}

/*FOOTER*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  padding: 2rem;
}

footer .la-contra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .la-contra__redes {
  margin: 0 0 1rem 0;
}

footer .info {
  font-style: normal;
  text-align: center;
}

footer .info--datos {
  color: #f3c95e;
  font-size: .9rem;
  margin-top: 1rem;
}

footer .medios-pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .medios-pago__tarjeta {
  width: 3em;
  margin: .5em;
}

.catalogo {
  background-color: #f83b3b;
  height: 10rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/*ERROR 404*/
.error-404, .texto-error {
  font-size: 8rem;
  color: #f83b3b;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.texto-error {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-secondary {
  border-radius: 2rem;
  background-color: #f83b3b;
  border: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary:hover {
  background-color: #daa41e;
}

/*FORMULARIO CONTACTO*/
.contacto {
  margin-top: 2rem;
}

.formFlex {
  height: 30rem;
  background-color: #dddddd;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem 0 2rem 0;
}

article h1 {
  padding-top: 1rem;
  text-align: center;
}

.imputform {
  padding: .5rem;
}

.labelText {
  width: 20rem;
  height: 1.5rem;
  color: #dddddd;
  font-weight: 500;
  border-radius: 1rem;
}

.labelImput {
  height: 2rem;
  border-radius: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  padding: 1rem;
  font-size: .9rem;
}

.pais {
  font-size: .9rem;
  color: #ffffff;
  background-color: #8b8b8b;
  height: 2rem;
  width: 8rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

.textoForm {
  text-align: center;
}

.textoContacto {
  width: 68rem;
  padding: 2rem;
}

.textarea {
  font-size: 1rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  border: 1px solid #dddddd;
  padding: 1rem;
}

.check {
  font-weight: 500;
  font-style: italic;
  color: #8b8b8b;
  padding: 1rem;
}

.casilla {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.botonInfo {
  font-size: .9rem;
  color: #ffffff;
  background-color: #8b8b8b;
  border: 1px solid #dddddd;
  height: 2rem;
  width: 7rem;
  border-radius: 1rem;
  margin: 0 1rem 0 1rem;
}

.enviar {
  width: 5rem;
}
/*# sourceMappingURL=style.css.map */