@import "mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

/*cCONTENEDOR*/

body{
    background-color: $darkwhite;
    background-image: url(https://i.postimg.cc/bvRCdG6z/seigaiha-fondo.png);
    background-size: 65px 43px;
}

/*ESTO ES MUCHO MUY IMPORTANTE*/
img{
    /*Las imagenes que son enlaces tienen bordes blancos
    estos les saca este borde*/
    border: 0;
    border-style: none;
}

a{
    color: $white;
    text-decoration: none;
}

.container-fluid {
    padding-right: var(--bs-gutter-x, .0);
    padding-left: var(--bs-gutter-x, .0);
    margin-right: auto;
    margin-left: auto;

    .row {
        --bs-gutter-x: 0;
    }
}

h1 {
    font-size: 1.8rem;
    color: $red;
    font-weight: bold;
    padding-bottom: 1rem;
    margin: 0;

    @media only screen and (max-width:576px) {
        width: 80%;
        margin: auto;
        font-size: 1.2rem;
    }
    
}

h2 {
    @include h2;
}

h3 {
    font-size: 1.2rem;
}