@import "variables";

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
background-color: $darkgrey;
    padding: 2rem;

    .la-contra {
        display: flex;
        flex-direction: row;

        &__redes {
            margin: 0 0 1rem 0;
        }
    }

    .info {
        font-style: normal;
        text-align: center;

        &--datos {
            color: $golden2;
            font-size: .9rem;
            margin-top: 1rem;
        }
    }
}

.catalogo{
    background-color: $red;
    height: 10rem;
}