@import "variables";

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;

    .footer-abajo {
        height: 3em;
        display: flex;
        justify-content: flex-end;


        .la-contra {

            background: $red;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 1em  ;

            &__redes {
               width: 3em;
            }
        }
    }


    .info {
        font-style: normal;
        text-align: center;

        &--datos {
            color: $golden2;
            font-size: .9rem;
            margin-top: 1rem;
        }
    }

    .medios-pago {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        &__tarjeta {
            width: 3em;
            margin: .5em;
        }
    }
}

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: $golden2;
    height: 13em;
    margin-bottom: 2rem;
    padding: 2rem;

    .texto-catalogo {
        text-align: center;
    }

    .search-btn.dos {
        background: $darkgrey;

        @media only screen and (max-width:576px) {
            img {
                height: 14px;
            }
        }


        &:hover {
            background: $red;
        }
    }

}

.sitemap {

    h4 {
        font-size: 1.3rem;
    }

    ul {

        li {
            width: 9em;
            display: flex;
            flex-direction: column;
            color: $golden2;
        }
    }
}