@import "variables";

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;

    .footer-abajo {
        height: 4em;
        display: flex;
        justify-content: flex-end;

        .la-contra {
            background: $darkgrey;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 2em;

            .copyright {
                width: 9em;

                p {
                    margin: 0;
                    color: $darkwhite;
                    font-size: .9rem;
                }
            }

            &__redes {
                width: 2.5em;
            }
        }
    }

    .medios-pago {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 1em 0;

        &__tarjeta {
            width: 2.5em;
            margin: .5em;
        }
    }
}

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: $golden2;
    height: 13em;
    margin-bottom: 2rem;
    padding: 2rem;

    @media only screen and (max-width:576px) {
        height: 9em;
    }

    .texto-catalogo {
        text-align: center;

        @media only screen and (max-width:576px) {
            font-size: 1rem;

            P {
                display: none;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }


    .barra-busqueda--newsletter {

        @media only screen and (min-width:992px) {
            max-width: 24em;
        }

    }

    .search-btn.dos {
        background: $darkgrey;

        @media only screen and (max-width:576px) {
            img {
                height: 14px;
            }
        }

        &:hover {
            background: $red;
        }
    }

}

/*Sitemap----------------------------*/

.sitemap {
    padding: 1em 0 1em 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 70%;

    h4 {
        font-size: 1rem;
        margin: 0;
        color: $golden2;
    }

    div {
        width: 12em;

        li {
            font-size: .9rem;
            display: flex;
            flex-direction: column;
            color: $darkwhite;
            margin-bottom: 1em;

            a:hover {
                color: $grey;
            }
        }
    }

    @media only screen and (max-width:576px) {

        justify-content: center;
        width: 100%;

        h4 {
            font-size: .9rem;
        }

        div {
            width: 10em;

            ul {
                padding-left: .7em;
            }

            li {
                font-size: .8rem;
            }

        }
    }

    .copyright {
        p {
            font-size: .8rem;
        }
    }
}