@import "variables";

/*HEADER*/

/*ANUNCIO*/

.anuncio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $darkgrey;
    height: 2.6rem;
    margin-top: 2.9rem;

    &__descuento {
        color: $golden2;
        font-size: 1rem;
        text-align: center;
        font-size: .8rem;
        margin: 0;

        /*ANIMACION MAQUINA DE ESCRIBIR*/
        /* https://codepen.io/mistrykaran91/pen/xxOePQd */

        animation-name: typewriter;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        animation-duration: 8s;
        animation-timing-function: steps(25, end);
        animation-iteration-count: infinite;

        &--dos{
            color: $darkwhite;
        }
    }

    @keyframes typewriter {

        0%,
        100% {
            width: 0;
        }

        20%,
        80% {
            width: 24em;
        }
    }
}


/*BARRA LOGO*/

.barra-logo {
    display: flex;
    align-items: center;
    background-color: $red;
    padding: 1.5rem 0 1.5rem 0;
    color: $white;

    @media only screen and (max-width:576px) {
        display: flex;
        justify-content: center;
        padding: 1.5em 0 .5em 0;
    }

    .logo-contra {
        order: 1;
        width: 10rem;
        margin: 0 3em 0 3em;
        padding: .5em 0 .5em 0;

        @media only screen and (max-width:768px) {
            margin: 0 0 0 1.5em;
        }

        @media only screen and (max-width:576px) {
            margin: .5em 0 0 2em;
            width: 7rem;
        }
    }

    .cuenta {
        order: 3;
        height: 3em;
        width: 11em;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        margin: 0 2.5em 0 0;
        transition: .3s;
        padding: 0 .5em 0 .5em;

        @media only screen and (max-width:768px) {
            width: 10em;
            padding: 0 .5em 0 .5em;
            margin: 1em 1em 0 0;
        }

        &__usuario {
            font-size: 1rem;
            text-decoration: none;
            color: $white;
            font-weight: 500;
            text-align: center;

            width: 500px;

            &:hover {
                color: $white;
            }

            @media only screen and (max-width:768px) {
                display: none;
            }

            &:hover {

                transition: .3s;
                border-radius: 50px;
            }
        }

        .material-icons-round {
            color: $darkwhite;
            font-size: 1.75em;
            transition: .3s;


            &:hover {
                color: $golden2;
                transition: .3s;
            }
        }

        .cart,
        .fav {
            font-size: 1.6em;
        }
    }
}

/*BARRA BUSQUEDA*/

.barra-busqueda {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $darkwhite;
    width: 40%;
    border-radius: 40px;
    height: 45px;
    padding: 0 .3em 0 1.2em;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width:992px) {
        max-width: 36em;
    }

    @media only screen and (max-width:768px) {

        margin-top: .5em;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width:576px) {
        order: 0;
        width: 75%;
        border-radius: 20px;
        height: 38px;
        margin-left: auto;
        margin-right: auto;

        img,
        svg {
            height: 1.2rem;
        }


        .search-btn {
            background-color: $red;
            height: 1.7em;
            width: 1.7em;
            padding: 0;
        }

        .search-txt {
            font-size: .9rem;
        }
    }
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2em;
    height: 2.2em;
    background: $red;
    border-radius: 50%;
    padding: .3em;
    transition: .3s;

    &:hover {
        background-color: $golden2;
        transition: .3s;
    }
}

.search-txt {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: $darkblue;
    font-size: 1rem;
    transition: .4s;
    width: 90%;
}


/*Saca el icono X cancelar de la barra de serach*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

/* campo de busqueda */

form.example input[type=text] {
    padding: 10px;
    font-size: 1rem;
    float: left;
    width: 80%;
    background: $darkwhite;
}

/* boton de busqueda */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 1rem;
    border: none;
    /* Prevent double borders */
    cursor: pointer;

    &:hover {
        background: $blue;
    }
}