@import "variables";

.ih-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
  box-sizing: border-box;
}

.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle .img {
  position: relative;
  transition: all 0.35s ease-in-out;
}

.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  transition: all 0.35s ease-in-out;
}

.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  backface-visibility: hidden;
}

/*efectos de la imagen*/
.ih-item.circle.effect13 .info {

  /*Para agregar color al cuadro sobre la imágen
  */
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 .info h3 {
  visibility: hidden;
  color: $darkwhite;
  position: relative;
  letter-spacing: .05rem;
  font-size: 1.8rem;
  padding: 48% 0 0 0;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.35s ease-in-out;

  @media only screen and (max-width: 992px) {
    padding: 40% 0 0 0;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.3rem;
    padding: 40% 0 0 0;
  }

  @media only screen and (max-width: 576px) {
    font-size: 1.4rem;
    padding: 30% 0 0 0;

  }
}

.ih-item.circle.effect13 .info p {
  visibility: hidden;
  color: $darkwhite;
  padding: .8em;
  font-size: 1rem;
  letter-spacing: .05rem;
  border-top: 5px solid $golden2;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.35s ease-in-out;

  @media only screen and (max-width: 576px) {
    border-top: 4px solid $golden2;
    font-size: .8rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: .9rem;
  }

}

.ih-item.circle.effect13 a:hover .img {
  transform: scale(1.05);

  filter: contrast(1.1);
  transition: all 0.35s ease-in-out;
}


.ih-item.circle.effect13 a:hover .info {
  opacity: 1;
}

.ih-item.circle.effect13 a:hover h3 {
  visibility: visible;
}

.ih-item.circle.effect13 a:hover p {
  visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
  transform: translateX(-100%);
}

.ih-item.circle.effect13.from_left_and_right .info p {
  transform: translateX(100%);
}

.ih-item.circle.effect13.from_left_and_right a:hover h3 {
  transform: translateX(0);
}

.ih-item.circle.effect13.from_left_and_right a:hover p {
  transform: translateX(0);
}