@import "variables";
@import "mixin";

/*MAIN*/

main {
    background-color: $darkwhite;
}

/* IFRAME ALTURA RESPONSIVE*******************************/

.iframe-e-comm {

    @media only screen and (max-width:576px) {
        height: 3650px;
        overflow: hidden;
    }

    @media only screen and (min-width:768px) {
        height: 2950px;
        overflow: hidden;
    }

    @media only screen and (min-width:992px) {
        height: 2150px;
        overflow: hidden;
    }

    @media only screen and (min-width:1200px) {
        height: 2200px;
        overflow: hidden;
    }

    @media only screen and (min-width:1400px) {
        height: 2050px;
        overflow: hidden;
    }

    @media only screen and (min-width:1600px) {
        height: 2200px;
        overflow: hidden;
    }
}


.iframe-carrusel {
    height: 540px;

    @media only screen and (max-width:768px) {
        height: 500px;
    }
}


/*VIDEO Y MAPAS*/
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    margin-top: 3em;

    @media only screen and (max-width:992px) {
        height: 470px;
    }

    @media only screen and (max-width:576px) {
        height: 200px;
        margin-top: 2em;
    }

    @media only screen and (min-width:768px) {
        height: 300px;
        margin-top: 2em;
    }

    & iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.mapa {
    margin-bottom: 3rem;
}

/*IMÁGEN CABECERA*/

.cabecera {
    padding: 0 0 0 0;
    background-color: $darkgrey;

    &__img-lg {
        display: block;
        border: 0;
    }

    &__img-sm {
        display: none;
        border: 0;
    }

    @media only screen and (max-width:576px) {

        display: flex;
        flex-direction: row;

        &__img-lg {
            display: none;
            border: 0;
        }

        &__img-sm {
            display: block;
            border: 0;
        }
    }

    .texto-cabecera {
        /*CON STICKY EL ELEMENTO QUEDA PEGADO A DONDE ESTA POSICIONADO*/
        position: sticky;

        .campeones {
            position: absolute;
            top: 4%;
            width: 47%;
            left: 48%;

            @media only screen and (max-width:576px) {
                top: 3%;
                width: 82%;
                left: 5%;
                transform: rotate(-3deg);
            }

            /* CONFIGURACIÓN ORIGINAL .campeones {
            @media only screen and (max-width:576px) {
                top: 6%;
                width: 54%;
                left: 3%;
            }*/
        }

        .temporada {
            position: absolute;
            line-height: 120%;
            font-size: 2.5vw;
            top: 75%;
            left: 52%;
            width: 40%;
            font-weight: 600;
            color: $golden2;
            text-align: center;

            /* CONFIGURACIÓN ORIGINAL @media only screen and (max-width:576px) {
            font-size: 3.6vw;
            top: 70%;
            left: 6%;
            }*/

            @media only screen and (max-width:576px) {
                /*con VH (viewport width) el el texto es "responsive", toma el tamano del ancho del viewport*/
                font-size: 4vw;
                /* 5% del tamaño del viewport*/
                width: 64%;
                left: 18%;
                top: 82%;

                font-weight: 500;
                background-color: $darkgrey;
                box-shadow: 0px 8px 15px rgba(20, 20, 20, 1);
                padding: .5rem;
            }

            @media only screen and (min-width:1400px) {
                font-size: 2vw;
            }
        }
    }
}

.categoria {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $darkgrey;

    &__imagen {
        height: 100%;
        overflow: hidden;
        transition: .5s;

        img {
            /*los efectos HOVER de las img estan en _img-texto.scss */

            transition: .3s ease-in-out;
            background-color: $darkgrey;

            @media only screen and (max-width:576px) {

                &__img-lg {
                    display: none;
                    border: 0;
                }

                &__img-sm {
                    display: block;
                    border: 0;
                }
            }
        }
    }

    @media only screen and (max-width:576px) {
        flex-direction: column;
    }
}

.btn-cate {
    display: none;
    position: absolute;
    top: 75%;
    width: 40%;
    left: 30%;

    text-align: center;
    background-color: $darkgrey;
line-height: 1rem;
    margin: auto;
    box-shadow: 0px 8px 15px rgba(20, 20, 20, 1);

    @media only screen and (max-width:768px) {
        display: block;
        top: 72%;
    }

    @media only screen and (max-width:576px) {
        display: block;
        top: 72%;
        width: 36%;
        left: 32%;
    }

    @media only screen and (max-width:1024px) {
        display: block; 
    }



    h3 {
        font-size: 1.1rem;
        color: $darkwhite;
        margin-bottom: 0;
        padding: .5em;

        @media only screen and (max-width:768px) {
            font-size: .9rem;
        }

        @media only screen and (max-width:576px) {
            font-size: 1.1rem;
        }
    }

}

/*MARCAS*/

.titulo {
    overflow: hidden;
    text-align: center;

    padding: 1em 0 1em 0;

    @media only screen and (min-width:1200px) {
        transform: scale(1.1);
        padding: 1.5em 0 1.5em 0;
    }

    &--brands {
        font-size: 1.5rem;
        color: $golden;
        font-weight: 600;

        @media only screen and (max-width:576px) {
            font-size: 1.4rem;
        }
    }

}

.logos {
    @include logos;
    margin-bottom: 4em;

    &__marcas {
        width: 9vw;
        margin: auto;

        @media only screen and (max-width:768px) {
            width: 9vw;
        }

        @media only screen and (max-width:576px) {
            width: 22vw;
            margin-bottom: 1em;
        }

        @media only screen and (min-width:1400px) {
            width: 6.5vw;
        }

    }

    @media only screen and (max-width:768px) {
        margin-bottom: 2em;
    }
}

/*CONTACTO Y NOSOTROS****************/

.contacto {
    margin-left: .5em;
}

.titulo-contacto {
    text-align: center;
    margin: 2em 0 .8em;

    @media only screen and(max-width:576px) {
        font-size: 1.4rem;
        text-align: start;
        margin: 2em 0 .6em 0;
        width: 100%;
    }
}

article {

    h3 {
        text-transform: uppercase;
        margin-bottom: 1em;

        @media only screen and(max-width:576px) {
            font-size: 1rem;
        }
    }

    span {
        margin-bottom: 20px;

        strong {
            color: $darkgrey;
            font-weight: 500;
        }
    }
}

.sobre-nosotros {
    margin: 1em 0 5em 0;

    @media only screen and(max-width:576px) {
        margin: 0 0 4em 0;
    }

    .parrafos {
        display: flex;
        flex-direction: row;

        @media only screen and(max-width:768px) {
            flex-direction: column;
        }

        div {
            p {
                width: 96%;

                @media only screen and(max-width:1200px) {
                    width: 94%;
                }
            }
        }
    }
}

.logo-negro {
    display: flex;
    justify-content: flex-end;

    img {
        margin-right: 1em;
        width: 8em;
    }
}

/*MUJERES*********************************/

.guerreras {
    position: absolute;
    top: 0;
    width: 46%;
    left: 3%;

    @media only screen and (max-width:576px) {
        top: 5%;
        width: 120%;
        left: -15%;
        transform: rotate(-2deg);
    }

    /* CONFIGURACIÓN ORIGINAL  .guerreras {
    @media only screen and (max-width:576px) {
        top: 12%;
        width: 75%;
        left: -8%;

        
    }   */

    img {
        /*Las imagenes que son enlaces tienen bordes blancos
        estos les saca este borde*/
        border: 0;
        border-style: none;
    }
}

.lucha {
    position: absolute;
    top: 0;
    width: 44%;
    left: 8%;

    @media only screen and (max-width:576px) {
        top: 55%;
        width: 97%;
        left: 5%;
        transform: rotate(3deg);
    }


    /* CONFIGURACIÓN ORIGINAL .lucha {
@media only screen and (max-width:576px) {
        top: 12%;
        width: 65%;
        left: 40%;
    }  */

    img {
        /*Las imagenes que son enlaces tienen bordes blancos
        estos les saca este borde*/
        border: 0;
        border-style: none;
    }
}

.amateur {
    position: absolute;
    top: 0;
    width: 50%;
    left: 29%;

    @media only screen and (max-width:576px) {
        top: 50%;
        width: 120%;
        left: -20%;
        transform: rotate(-5deg);
    }

    /* CONFIGURACIÓN ORIGINAL .amateur {
    @media only screen and (max-width:576px) {
        top: 5%;
        width: 90%;
        left: -20%;
    }  */

    img {
        /*Las imagenes que son enlaces tienen bordes blancos
        estos les saca este borde*/
        border: 0;
        border-style: none;
    }
}