@import "variables";
@import "mixin";

/*MAIN*/

main {
    background-color: $darkwhite;
}

iframe {
    overflow: hidden;

    @media only screen and (max-width:992px) {
        height: 470px;
    }
}

/*VIDEO Y MAPAS*/
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    margin-top: 2rem;

    & iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.mapa {
    margin-bottom: 3rem;
}

/*IMÁGEN CABECERA*/

.cabecera {
    padding: 0 0 0 0;
    background-color: black;

    &__img-lg {
        display: none;
        border: 0;
    }

    &__img-sm {
        display: block;
        border: 0;
}

    .texto-cabecera {
        /*CON STICKY EL ELEMENTO QUEDA PEGADO A DONDE ESTA POSICIONADO*/
        position: sticky;

        .campeones {
            position: absolute;
            top:6%;
            width: 54%;
            left: 3%;

            @media only screen and (min-width:576px) {
            top:2%;
            width: 45%;
            left: 48%;
            }
        }

        .temporada {
            position: absolute;
            line-height: 120%;

/*con VH (viewport width) el el texto es "responsive", toma el tamano del ancho del viewport*/
            font-size: 3.3vw; /* 2% del tamaño del viewport*/
            font-weight: 600;
            color: $golden2;
            top: 70%;
            left: 9%;
            width: auto;
            height: auto;
            text-align: center;

            @media only screen and (min-width:576px){
                font-size: 2.5vw;
                top: 75%;
                left: 52%;
                width: 40%;
            }

            @media only screen and (min-width:1400px) {
                font-size: 2vw;
            }
        }
    }
}

.categoria {
background-color: $darkgrey;
    &__imagen {

        overflow: hidden;
        filter: grayscale(0%);
        transition: .5s;
        z-index: 10;
    }
    .img{
        background-color: $black;
    }
}

/*MARCAS*/

.titulo {
    overflow: hidden;
    text-align: center;

    @media only screen and (min-width:1200px) {
            transform: scale(1.1);
            padding: 1.5em 0 1.5em 0;  
    }

    &--brands {
        font-size: 1.5rem;
        color: $golden;
        font-weight: 600
    }
}

.logos {
    @include logos;
    margin-bottom: 2rem;

    &__marcas {
        width: 9vw;
        margin: auto;

        @media only screen and (max-width:768px) {
            width: 11vw;
        }

        @media only screen and (max-width:576px) {
            width: 22vw;
            margin-bottom: 1em;
        }

        @media only screen and (min-width:1400px) {
            width: 7.5vw;
        }
        
        }

        @media only screen and (min-width:1200px) {
            margin-bottom: 3em;
        }
    }

/*CONTACTO****************/

.titulo-contacto{
    text-align: center;
    margin: 2.5em 0 .8em;
}

article {

    h3{
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    span{
        margin-bottom: 20px;
        
        strong{
            color: $darkgrey;
            font-weight: 500;
        }
    }

    
}

