@import "variables";

/*MEDIA QUERY BREAKPOINTS*/

@media only screen and (min-width:576px) {
    /* Los estilos de acá solo se aplicarán a partir
    del tamaño de pantalla indicado */

    .anuncio {
        font-size: 1rem;
    }

    .cuenta__img--nodisplay {
        display: block;
    }

    .cabecera {
        display: flex;
        flex-direction: row;

        &__img-lg {
            display: block;
        }

        &__img-sm {
            display: none;
        }
    }

    .categoria {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $black;

        &__imagen {
            height: 100%;

            img {
                transition: .3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    transition: .3s ease-in-out;
                    filter: brightness(70%);
                    filter: contrast(110%);
                }
            }
        }
    }
}

@media only screen and (min-width:992px) {

    .anuncio {
        margin-top: 2.5rem;

        &__descuento {
            font-size: 1rem;
        }
    }

}


@media only screen and (min-width:1200px) {

    .titulo {
        transform: scale(1.1);
        padding: 2rem 0 2rem 0;
    }
}