@import "variables";

/*MEDIA QUERY BREAKPOINTS*/

@media only screen and (min-width:576px) {

    .anuncio {
        font-size: 1rem;
    }

    .cuenta__img--nodisplay {
        display: block;
    }
}

@media only screen and (min-width:992px) {

    .anuncio {
        margin-top: 2.5rem;

        &__descuento {
            font-size: 1rem;
        }
    }
}
