$golden: #daa41e;
$golden2: #f3c95e;
$red: #f83b3b;
$darkred: #d81d1d;
$white: #ffffff;
$darkwhite: #f7f7f7;
$darkblue: #27333d;
$blue: #205683;
$grey: #8b8b8b;
$grey2: #dddddd;
$grey3: #303030;
$darkgrey: #202020;
$black: #000000;
